.container {
	@include widescreen {
		max-width: 1152px;
	}
}

.page-secondary {
	.header {
		.container {
			max-width: 100%;
			width: 100%;
			>.navbar {
				margin: 0;
			}
		}
	}
}

.button {
	transition: all 0.2s;
}
.button.is-small {
	border-radius: 5px;
}
.button.is-primary {
	&:not(.is-outlined) {
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.28);
	}
}