		<footer class="footer">
			<div class="container">
				<div class="level">
					<div class="level-left">
						<div class="level-item">
							<img src="/images/intern-logo-footer.svg" alt="Intern">
						</div>
						<div class="level-item">
							<span class="copyright">© 2017 <a href="https://www.sitepen.com">SitePen, Inc.</a></span>
						</div>
						<div class="level-item">
							<span>Intern is a <a href="http://js.foundation">JS Foundation</a> project.</span>
						</div>
						<div class="level-item">
							<span><a href="https://github.com/theintern/intern/blob/master/LICENSE">New BSD</a> licensed.</span>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>
