<header class="header">
	<div class="container">
		<nav class="navbar">
			<div class="navbar-brand">
				<a href="/" class="navbar-item"><img src="/images/intern-logo.svg" class="site-logo" alt="The Intern"></a>
				<div class="navbar-burger">
					<span></span>
					<span></span>
					<span></span>
				</div>
			</div>
			<div class="navbar-menu">
				<div class="navbar-start"></div>
				<div class="navbar-end">
					<a class="navbar-item" href="/docs">Docs</a>
					<a class="navbar-item" href="https://github.com/theintern/intern" data-title="">Github</a>
				</div>
			</div>
		</nav>
	</div>
</header>
