// Colors
$primary = #30A777;
$secondary = #7C8EA1;
$grey-darker = #4A4A4A;
$dark-gray = $grey-darker;
$border-color = #E1E4E6;
$button-border-color = #C8D1D8;
$light = #FAFBFC;
$gray = #F0F2F5;

// Typography
$title-weight = 500;

$heading-font = 'Zilla Slab', serif;
$body-font = 'Source Sans Pro', sans-serif;
